<!DOCTYPE html>
   <head>
      <title>isearch</title>
   </head>

   <body>
      <form action="" method="POST">
          <label for="Business">company</label>
          <input name="input1">
          <label for="Businessinfo">street</label>
          <input name="input2">
            <label for="Businessinfo">postcode</label>
          <input name="input3">
        <input type="submit">
      </form>
      <br>
      <br>
   <a href="/run" ><button class=grey style="height:75px;width:80px">run</button></a>
   </body>
</html>